:root {
  --md-primary-fg-color: #ff9600;
  --md-accent-fg-color: #ff6600;
  --md-footer-fg-color: #fff;
  --md-footer-bg-color: #000;
  --md-code-fg-color: #ff9600;
  --md-typeset-color: #fff;
  --md-code-hl-generic-color: #fff;
  
}
